extends ../layout/base.pug

block content
  h3.text-dark.mb-4 Round ID: #{pagedetails.match.roundID}
  .row.mb-3
    .col-lg-8
      .row
        .col
          .card.shadow.mb-3
            .card-header.py-3
              p.text-primary.m-0.font-weight-bold Enter Scores and Comments
            .card-body
              ul.list-group.list-group-flush
                li.list-group-item
                  h3.text-dark.mb-0.text-center Minimum score is 1 and the maximum is 100.
                  br
                form.user(action="/teamScores?roundID="+pagedetails.match.roundID, method="post")
                  li.list-group-item
                    br
                    h4.text-dark.mb-0.text-center GOVERNMENT TEAM
                    h6.text-darl.mb-0.text-center #{pagedetails.match.gov.teamname}
                    br
                    .form-row.text-center.text-dark
                      if(pagedetails.match.gov.first.full_name != 'No User')
                        .col
                          .form-group
                            label(for='first')
                              strong Leader
                      if(pagedetails.match.gov.second.full_name != 'No User')
                        .col
                          .form-group
                            label(for='second')
                              strong Deputy Leader
                      if(pagedetails.match.gov.third.full_name != 'No User')
                        .col
                          .form-group
                            label(for='third')
                              strong Whip
                    .form-row.text-center
                      if(pagedetails.match.gov.first.full_name != 'No User')
                        .col
                          .form-group
                            label(for='first')
                              strong #{pagedetails.match.gov.first.full_name}
                      if(pagedetails.match.gov.second.full_name != 'No User')
                        .col
                          .form-group
                            label(for='second')
                              strong #{pagedetails.match.gov.second.full_name}
                      if(pagedetails.match.gov.third.full_name != 'No User')
                        .col
                          .form-group
                            label(for='third')
                              strong #{pagedetails.match.gov.third.full_name}
                    .form-row
                      if(pagedetails.match.gov.first.full_name != 'No User')
                        .col
                          .form-group
                            if(pagedetails.gradeFields.all == 1 || pagedetails.gradeFields.govFirst == 1)
                              input.form-control#firstgov(style='border: 1px solid #d66' type="number" min="1" max="100" name='firstgov')
                              if(pagedetails.gradeFields.govFirst == 1)
                                .text-center.small#invalid_firstgov(style="color: #d66") Invalid Score
                            else
                              input.form-control#firstgov(type="number" min="1" max="100" name='firstgov')
                              .text-center.small#invalid_firstgov(style="color: #d66")
                      else
                        input#firstgov(type=hidden name='firstgov' value=0 style="display:none;")
                      if(pagedetails.match.gov.second.full_name != 'No User')
                        .col
                          .form-group
                            if(pagedetails.gradeFields.all == 1 || pagedetails.gradeFields.govSecond == 1)
                              input.form-control#secondgov(style='border: 1px solid #d66' type="number" min="1" max="100" name='secondgov')
                              if(pagedetails.gradeFields.govSecond == 1)
                                .text-center.small#invalid_secondgov(style="color: #d66") Invalid Score
                            else
                              input.form-control#secondgov(type="number" min="1" max="100" name='secondgov')
                              .text-center.small#invalid_secondgov(style="color: #d66")
                      else
                        input#secondgov(type=hidden name='secondgov' value=0 style="display:none;")
                      if(pagedetails.match.gov.third.full_name != 'No User')
                        .col
                          .form-group
                            if(pagedetails.gradeFields.all == 1 || pagedetails.gradeFields.govThird == 1)
                              input.form-control#thirdgov(style='border: 1px solid #d66' type="number" min="1" max="100" name='thirdgov')
                              if(pagedetails.gradeFields.govThird == 1)
                                .text-center.small#invalid_thirdgov(style="color: #d66") Invalid Score
                            else
                              input.form-control#thirdgov(type="number" min="1" max="100" name='thirdgov')
                              .text-center.small#invalid_thirdgov(style="color: #d66")
                      else
                        input#thirdgov(type=hidden name='thirdgov' value=0 style="display:none;")
                    br
                  li.list-group-item
                    br
                    h4.text-dark.mb-0.text-center OPPOSITION TEAM
                    h6.text-darl.mb-0.text-center #{pagedetails.match.opp.teamname}
                    br
                    .form-row.text-center.text-dark
                      if(pagedetails.match.opp.first.full_name != 'No User')
                        .col
                          .form-group
                            label(for='first')
                              strong Leader
                      if(pagedetails.match.opp.second.full_name != 'No User')
                        .col
                          .form-group
                            label(for='second')
                              strong Deputy Leader
                      if(pagedetails.match.opp.third.full_name != 'No User')
                        .col
                          .form-group
                            label(for='third')
                              strong Whip
                    .form-row.text-center
                      if(pagedetails.match.opp.first.full_name != 'No User')
                        .col
                          .form-group
                            label(for='first')
                              strong #{pagedetails.match.opp.first.full_name}
                      if(pagedetails.match.opp.second.full_name != 'No User')
                        .col
                          .form-group
                            label(for='second')
                              strong #{pagedetails.match.opp.second.full_name}
                      if(pagedetails.match.opp.third.full_name != 'No User')
                        .col
                          .form-group
                            label(for='third')
                              strong #{pagedetails.match.opp.third.full_name}
                    .form-row
                      if(pagedetails.match.opp.first.full_name != 'No User')
                        .col
                          .form-group
                            if(pagedetails.gradeFields.all == 1 || pagedetails.gradeFields.oppFirst == 1)
                              input.form-control#firstopp(style='border: 1px solid #d66' type="number" min="1" max="100" name='firstopp')
                              if(pagedetails.gradeFields.oppFirst == 1)
                                .text-center.small#invalid_firstopp(style="color: #d66") Invalid Score
                            else
                              input.form-control#firstopp(type="number" min="1" max="100" name='firstopp')
                              .text-center.small#invalid_firstopp(style="color: #d66")
                      else
                        input#firstopp(type=hidden name='firstopp' value=0  style="display:none;")
                      if(pagedetails.match.opp.second.full_name != 'No User')
                        .col
                          .form-group
                            if(pagedetails.gradeFields.all == 1 || pagedetails.gradeFields.oppSecond == 1)
                              input.form-control#secondopp(style='border: 1px solid #d66' type="number" min="1" max="100" name='secondopp')
                              if(pagedetails.gradeFields.oppSecond == 1)
                                .text-center.small#invalid_secondopp(style="color: #d66") Invalid Score
                            else
                              input.form-control#secondopp(type="number" min="1" max="100" name='secondopp')
                              .text-center.small#invalid_secondopp(style="color: #d66")
                      else
                        input#secondopp(type=hidden name='secondopp' value=0  style="display:none;")
                      if(pagedetails.match.opp.third.full_name != 'No User')
                        .col
                          .form-group
                            if(pagedetails.gradeFields.all == 1 || pagedetails.gradeFields.oppThird == 1)
                              input.form-control#thirdopp(style='border: 1px solid #d66' type="number" min="1" max="100" name='thirdopp')
                              if(pagedetails.gradeFields.oppThird == 1)
                                .text-center.small#invalid_thirdopp(style="color: #d66") Invalid Score
                            else
                              input.form-control#thirdopp(type="number" min="1" max="100" name='thirdopp')
                              .text-center.small#invalid_thirdopp(style="color: #d66")
                      else
                        input#thirdopp(type=hidden name='thirdopp' value=0  style="display:none;")
                    br
                  li.list-group-item
                    br
                    h4.text-dark.mb-0.text-center COMMENTS
                    br
                    .form-group
                      label(for='comments')
                        strong Comments for Round ID: #{pagedetails.match.roundID}
                      if(pagedetails.gradeFields.all == 1 || pagedetails.gradeFields.comments == 1)
                        textarea.form-control#comment(style='border: 1px solid #d66' name='comment')
                        if(pagedetails.gradeFields.comments == 1)
                          .text-center.small#invalid_comment(style="color: #d66") Invalid character/s in comment.
                      else
                        textarea.form-control#comment(name='comment')
                        .text-center.small#invalid_comment(style="color: #d66")
                    br
                    if(pagedetails.gradeFields.all == 1)
                      .text-center.small#invalid_grade_all(style="color: #d66") All fields need to be filled up
                    .text-center.small#invalid_grade_all(style="color: #d66")
                  li.list-group-item.text-center
                    br
                    .form-group.text-center
                      button.btn.btn-block.btn-success#submit_grades(type='submit') Submit Grades
                      br
                      a.card-link.btn.btn-primary.btn-sm.btn-primary(href='/findGrade') Grade a Different Round

block scripts
  script(src='/assets/js/jquery.min.js')
  script(src='/assets/bootstrap/js/bootstrap.min.js')
  script(src='/assets/js/bs-init.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js')
  script(src='/assets/js/grade_round.js')
