doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width,initial-scale=1,shrink-to-fit=no')
    title  #{pagedetails.pagename} | TabCore
    link(rel='stylesheet' href='/assets/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i')
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Adamina')
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Oswald')
    link(rel='stylesheet' href='/assets/fonts/fontawesome-all.min.css')
    link(rel='stylesheet' href='/assets/fonts/font-awesome.min.css')
    link(rel='stylesheet' href='/assets/fonts/line-awesome.min.css')
    link(rel='stylesheet' href='/assets/fonts/fontawesome5-overrides.min.css')
    link(rel='stylesheet' href='/assets/css/debateTimer.css')
    link(rel='stylesheet' href='/assets/css/fullscreen.css')
    link(rel='stylesheet' href='/assets/css/login.css')
    link(rel='stylesheet' href='/assets/css/theme.css')
    link(rel='icon' type='image/png' href='/assets/img/logo/tabcore_icon.png')
    script(type='text/javascript' src='/assets/js/validator.min.js')
  body#page-top(style='font-family: Oswald, sans-serif;')
    #wrapper
      nav.navbar.navbar-dark.align-items-start.sidebar.sidebar-dark.accordion.bg-gradient-primary.p-0(style='font-family: Oswald, sans-serif;')
        .container-fluid.d-flex.flex-column.p-0
          a.navbar-brand.d-flex.justify-content-center.align-items-center.sidebar-brand.m-0(href='/index')
            .sidebar-brand-icon.rotate-n-15
              i.fas.fa-balance-scale
            .sidebar-brand-text.mx-3
              span Tabcore
          hr.sidebar-divider.my-0
          ul.nav.navbar-nav.text-light#accordionSidebar
            li.nav-item(role='presentation')
              a.nav-link(href='/dashboard', class=(cur === "dashboard" ? "active" : undefined))
                i.fas.fa-tachometer-alt
                span Dashboard
            li.nav-item(role='presentation')
              a.nav-link(href='/createRound', class=(cur === "startRound" ? "active" : undefined))
                i.fa.fa-plus-circle
                span Create a Round
            li.nav-item(role='presentation')
              a.nav-link(href='/findRound', class=(cur === "join" ? "active" : undefined))
                i.fa.fa-envelope-open-o
                span Join a Round
            li.nav-item(role='presentation')
              a.nav-link(href='/findGrade', class=(cur === "join" ? "active" : undefined))
                i.fa.fa-edit
                span Grade a Round
            li.nav-item(role='presentation')
              a.nav-link(href='/roundStats', class=(cur === "roundStats" ? "active" : undefined))
                i.fa.fa-area-chart
                span Round Statistics
            li.nav-item(role='presentation')
              a.nav-link(href='/roundHistory', class=(cur === "matchHistory" ? "active" : undefined))
                i.fa.fa-table
                span Round History
            li.nav-item(role='presentation', class=(cur === "settings" ? "active" : undefined))
              a.nav-link(href='/teamPage')
                i.fas.fa-users
                span Teams
            li.nav-item(role='presentation', class=(cur === "settings" ? "active" : undefined))
              a.nav-link(href='/settings')
                i.fas.fa-wrench
                span Profile Settings
          .text-center.d-none.d-md-inline
      .d-flex.flex-column#content-wrapper
        #content
          nav.navbar.navbar-light.navbar-expand.bg-white.shadow.mb-4.topbar.static-top
            .container-fluid
              button.btn.btn-link.d-md-none.rounded-circle.mr-3#sidebarToggleTop(type='button')
                i.fas.fa-bars
              ul.nav.navbar-nav.flex-nowrap.ml-auto
                li.nav-item.dropdown.d-sm-none.no-arrow
                .nav-item.dropdown.no-arrow
                  a.dropdown-toggle.nav-link(data-toggle="dropdown" aria-expanded="false" href="#")
                    i.fas.fa-envelope.fa-fw
                    if (numRounds > 0)
                      span.badge.badge-danger.badge-counter #{numRounds}
                  .dropdown-menu.dropdown-menu-right.dropdown-list.dropdown-menu-right.animated--grow-in(role="menu")
                    h6.dropdown-header Join Round
                    if (numRounds > 0)
                      each round in rounds
                        a.d-flex.align-items-center.dropdown-item(href='/ongoingRound?roundID='+round.roundID)
                          .font-weight-bold
                            .text-truncate
                              span #{round.message}
                            p.small.text-gray-500.mb-0 #{round.teamnames}
                      if(numRounds > 5)
                        d-flex.align-items-center.dropdown-item
                          .font-weight-bold
                            if(numRounds == 6)
                              p.small.text-dark-500.mb-0 #{roundRem} more invite...
                            else
                              p.small.text-dark-500.mb-0 #{roundRem} more invites...
                      a.d-flex.align-items-center.dropdown-item(href='/findRound') View All Round Invites
                    else
                      .text-center No Round Invites!
                .shadow.dropdown-list.dropdown-menu.dropdown-menu-right(aria-labelledby="alertsDropdown")
                li.nav-item.dropdown.d-sm-none.no-arrow
                .nav-item.dropdown.no-arrow
                  a.dropdown-toggle.nav-link(data-toggle="dropdown" aria-expanded="false" href="#")
                    i.fas.fa-users
                    if (numUpdates > 0)
                      span.badge.badge-danger.badge-counter #{numUpdates}
                  .dropdown-menu.dropdown-menu-right.dropdown-list.dropdown-menu-right.animated--grow-in(role="menu")
                    h6.dropdown-header Team Updates
                    if (numUpdates > 0)
                      each update in updates
                        a.d-flex.align-items-center.dropdown-item(href=update.link+'?team='+update.teamID)
                          .font-weight-bold
                            .text-truncate
                              span #{update.teamupdate}
                            p.small.text-gray-500.mb-0 #{update.teamname}
                      if(numUpdates > 5)
                        d-flex.align-items-center.dropdown-item
                          .font-weight-bold
                            if(numUpdates == 6)
                              p.small.text-dark-500.mb-0 #{updateRem} more update...
                            else
                              p.small.text-dark-500.mb-0 #{updateRem} more updates...
                      a.d-flex.align-items-center.dropdown-item(href='/teamUpdates') View All Team Updates
                    else
                      .text-center No Updates!
                .shadow.dropdown-list.dropdown-menu.dropdown-menu-right(aria-labelledby="alertsDropdown")
                li.nav-item.dropdown.no-arrow(role='presentation')
                  .nav-item.dropdown.no-arrow
                    a.dropdown-toggle.nav-link(data-toggle='dropdown' aria-expanded='false' href='#')
                      span.d-none.d-lg-inline.mr-2.text-gray-600.small #{pagedetails.curr_user.username}
                    .dropdown-menu.shadow.dropdown-menu-right.animated--grow-in(role='menu')
                      a.dropdown-item(role='presentation' href='/dashboard')
                        i.fas.fa-tachometer-alt.fa-sm.fa-fw.mr-2.text-gray-400
                        | Dashboard
                      a.dropdown-item(role='presentation' href='/settings')
                        i.fas.fa-wrench.fa-sm.fa-fw.mr-2.text-gray-400
                        |  Profile Settings
                      a.dropdown-item(role='presentation' href='/welcome')
                        i.fas.fa-book.fa-sm.fa-fw.mr-2.text-gray-400
                        |  Tutorial
                      .dropdown-divider
                      a.dropdown-item(role='presentation' href='/logout')
                        i.fas.fa-sign-out-alt.fa-sm.fa-fw.mr-2.text-gray-400
                        |  Logout
                      .dropdown-divider
          .container-fluid
            block content
        footer.bg-white.sticky-footer
          .container.my-auto
            .text-center.my-auto.copyright
              span Copyright © Tabcore 2020
      a.border.rounded.d-inline.scroll-to-top(href='#page-top')
        i.fas.fa-angle-up
    block scripts
      script(src='/assets/js/jquery.min.js')
      script(src='/assets/bootstrap/js/bootstrap.min.js')
      script(src='/assets/js/chart.min.js')
      script(src='/assets/js/bs-init.js')
      script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js')
      script(src='/assets/js/theme.js')
