extends layout/layout.pug

block variables

append stylesheets
  link(href='/assets/css/debate-timer.css', rel='stylesheet', type='text/css')
  link(href='http://www.cssscript.com/wp-includes/css/sticky.css', rel='stylesheet', type='text/css')
  link(href='/assets/css/fullscreen.css', rel='stylesheet', type='text/css')

block content
  .container-fluid
    .d-sm-flex.justify-content-between.align-items-center.mb-4
      h3.text-dark.mb-0 Room #{roomno}
<<<<<<< HEAD
=======
      .col-md-6.col-xl-3.mb-4
        .card.shadow.border-left-info.py-2
          .card-body
            .row.align-items-center.no-gutters
              .col.mr-2
                .text-uppercase.text-info.font-weight-bold.text-xs.mb-1
                  span Tasks
                .row.no-gutters.align-items-center
                  .col-auto
                    .text-dark.font-weight-bold.h5.mb-0.mr-3
                      span 50%
                  .col
                    .progress.progress-sm
                      .progress-bar.bg-info(aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%;")
                        span.sr-only 50%
              .col-auto
                i.fas.fa-clipboard-list.fa-2x.text-gray-300
      .col-md-6.col-xl-3.mb-4
        .card.shadow.border-left-warning.py-2
          .card-body
            .row.align-items-center.no-gutters
              .col.mr-2
                .text-uppercase.text-warning.font-weight-bold.text-xs.mb-1
                  span Pending Requests
                .text-dark.font-weight-bold.h5.mb-0
                  span 18
              .col-auto
                i.fas.fa-comments.fa-2x.text-gray-300
>>>>>>> e98719794b8d68430bf30217e18523f80adef847
    .row
      .col-lg-6.col-xl-3.mb-4
        .card.shadow.mb-4
          .card-header.py-3
            h6.text-primary.font-weight-bold.m-0 #{gov}
            span Government
          ul.list-group.list-group-flush
            li.list-group-item
              .row.align-items-center.no-gutters
                .col-xl-3
                  img.border.rounded-circle.img-profile(src="/assets/img/avatars/avatar1.jpeg")
                .col.mr-2
                  h6.mb-0
                    strong #{pm}
                  span.text-xs Prime Minister
                .col-auto
                  .custom-control.custom-checkbox
                    input#formCheck-1.custom-control-input(type="checkbox")
                    label.custom-control-label(for="formCheck-1")
            li.list-group-item
              .row.align-items-center.no-gutters
                .col-xl-3
                  img.border.rounded-circle.img-profile(src="/assets/img/avatars/avatar1.jpeg")
                .col.mr-2
                  h6.mb-0
                    strong #{dpm}
                  span.text-xs Deputy Prime Minister
                .col-auto
                  .custom-control.custom-checkbox
                    input#formCheck-2.custom-control-input(type="checkbox")
                    label.custom-control-label(for="formCheck-2")
            li.list-group-item
              .row.align-items-center.no-gutters
                .col-xl-3
                  img.border.rounded-circle.img-profile(src="/assets/img/avatars/avatar1.jpeg")
                .col.mr-2
                  h6.mb-0
                    strong #{gw}
                  span.text-xs Government Whip
                .col-auto
                  .custom-control.custom-checkbox
                    input#formCheck-3.custom-control-input(type="checkbox")
                    label.custom-control-label(for="formCheck-3")
      .col-lg-6.mb-4
        .card.shadow.mb-4
          .card-header.py-3
            h6.text-primary.font-weight-bold.m-0 Timer
          #roundtimer.card-body
            include roundroom/timer.pug
            a#fullscreen.card-link(href="#")
              i#fsBtn.fas.fa-expand.fa-fw
      .col-lg-6.col-xl-3.mb-4
        .card.shadow.mb-4
          .card-header.py-3
            h6.text-primary.font-weight-bold.m-0 #{opp}
            span Opposition
          ul.list-group.list-group-flush
            li.list-group-item
              .row.align-items-center.no-gutters
                .col-xl-3
                  img.border.rounded-circle.img-profile(src="/assets/img/avatars/avatar1.jpeg")
                .col.mr-2
                  h6.mb-0
                    strong #{lo}
                  span.text-xs Leader of Opposition
                .col-auto
                  .custom-control.custom-checkbox
                    input#formCheck-1.custom-control-input(type="checkbox")
                    label.custom-control-label(for="formCheck-1")
            li.list-group-item
              .row.align-items-center.no-gutters
                .col-xl-3
                  img.border.rounded-circle.img-profile(src="/assets/img/avatars/avatar1.jpeg")
                .col.mr-2
                  h6.mb-0
                    strong #{dlo}
                  span.text-xs Deputy Leader of Opposition
                .col-auto
                  .custom-control.custom-checkbox
                    input#formCheck-2.custom-control-input(type="checkbox")
                    label.custom-control-label(for="formCheck-2")
            li.list-group-item
              .row.align-items-center.no-gutters
                .col-xl-3
                  img.border.rounded-circle.img-profile(src="/assets/img/avatars/avatar1.jpeg")
                .col.mr-2
                  h6.mb-0
                    strong #{ow}
                  span.text-xs Opposition Whip
                .col-auto
                  .custom-control.custom-checkbox
                    input#formCheck-3.custom-control-input(type="checkbox")
                    label.custom-control-label(for="formCheck-3")

append scripts
  script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.dev.js")
  script(src="/assets/js/testdebatetimer.js")
  script(src="/assets/js/fullscreen.js")
