extends ../layout/base.pug

block content
  h3.text-dark.mb-4 Add Adjudicator
  .row.mb-3
    .col-lg-6.col-xl-6
      .row
        .col
          .card.shadow.mb-3
            .card-header.py-3
              p.text-primary.m-0.font-weight-bold.text-center Adjudicator
            .card-body
              ul.list-group.list-group-flush
                li.list-group-item
                  h3.text-dark.mb-0.text-center ADJUDICATOR
                  br
                  form.user(action="/matchAdjudicator?roundID="+pagedetails.match.roundID+"&status="+pagedetails.match.status, method="post")
                    .form-row
                      .col
                        .form-group
                          h4.text-dark.mb-0 Enter Adjudicator for the Round:
                          h6.text-dark.mb-0 (Enter the User Name)
                          br
                          input#roundID(type='hidden' value=pagedetails.match.roundID)
                          input#current_status(type='hidden' value=pagedetails.match.status)
                          input#edit_adj(type='hidden' value=pagedetails.match.adjudicator.username)
                          if(pagedetails.ad == 1)
                            input.form-control#ad(style='border: 1px solid #d66' type='text' placeholder=`${pagedetails.match.adjudicator.full_name}` name='ad')
                            .text-center.small#invalid_ad(style="color: #d66") Invalid User Name
                          else
                            input.form-control#ad(type='text' placeholder=`${pagedetails.match.adjudicator.full_name}` name='ad')
                            .text-center.small#invalid_ad(style="color: #d66")
                    .form-group.text-center
                      button.btn.btn-block.btn-primary#adj_next(type='submit') Next
                      br
                      a.card-link.btn.btn-primary.btn-sm.btn-danger(href='/editRound?roundID='+pagedetails.match.roundID) Back
                li.list-group-item
                  h2.text-dark.mb-0.text-center ROUND ID
                  h4.text-dark.mb-0.text-center #{pagedetails.match.roundID}
                  br
                li.list-group-item
                  br
                  h3.text-dark.mb-0.text-center MOTION
                  h6.text-dark.mb-0.text-center #{pagedetails.match.motion}
                  br
                li.list-group-item
                  br
                  h3.text-dark.mb-0.text-center TEAMS
                  br
                  h4.text-dark.mb-0.text-center GOVERNMENT
                  h6.text-dark.mb-0.text-center #{pagedetails.match.gov.teamname}
                  br
                  h6.text-dark.mb-0 Leader: #{pagedetails.match.gov.first.full_name}
                  br
                  h6.text-dark.mb-0 Deputy Leader: #{pagedetails.match.gov.second.full_name}
                  br
                  h6.text-dark.mb-0 Whip: #{pagedetails.match.gov.third.full_name}
                  br
                  br
                  h4.text-dark.mb-0.text-center OPPOSITION
                  h6.text-dark.mb-0.text-center #{pagedetails.match.opp.teamname}
                  br
                  h6.text-dark.mb-0 Leader: #{pagedetails.match.opp.first.full_name}
                  br
                  h6.text-dark.mb-0 Deputy Leader: #{pagedetails.match.opp.second.full_name}
                  br
                  h6.text-dark.mb-0 Whip: #{pagedetails.match.opp.third.full_name}
                  br
                  br
    .col-lg-6.col-xl-6
      .row
        .col
          .card.shadow.mb-3
            .card-header.py-3
              p.text-primary.m-0.font-weight-bold.text-center Guide for Round Information
            .card-body
              ul.list-group.list-group-flush
                li.list-group-item
                  h4.text-dark.mb-0.text-center Round ID
                  h6.mb-0.text-center The unique identifier of the round you are building.
                  br
                li.list-group-item
                  br
                  h4.text-dark.mb-0.text-center You can choose any of the following roles in a round:
                  br
                  h5.mb-0.text-dark Adjudicator
                  h6.mb-0 - The Adjudicators are the ones to judge the round. They can call on the next speaker, end the round, give all speakers their grades, and give any comments that they may have.
                  br
                  h5.mb-0.text-dark Government Speaker
                  h6.mb-0 - One of the speakers who agrees with the motion.
                  br
                  h5.mb-0.text-dark Opposition Speaker
                  h6.mb-0 - One of the speakers who does not agree with the motion.
                  br
                li.list-group-item
                  br
                  h4.text-dark.mb-0.text-center Motion
                  h6.mb-0.text-center The Motion is the topic of this debate round.
                  br
                li.list-group-item
                  br
                  h4.text-dark.mb-0.text-center Teams
                  h6.mb-0.text-center Take note! Only existing teams are allowed to participate in debates and users cannot be in both teams. Proceed to your teams dashboard if you want to enter a new team.
                  br
                  h5.mb-0.text-dark Government Team
                  h6.mb-0 - The team consisting of members who agree with the motion.
                  br
                  h5.mb-0.text-dark Opposition Team
                  h6.mb-0 - The team consisting of members who do not agree with the motion.
                  br

block scripts
  script(src='/assets/js/jquery.min.js')
  script(src='/assets/bootstrap/js/bootstrap.min.js')
  script(src='/assets/js/bs-init.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js')
  script(src='/assets/js/create_round.js')
