extends ../layout/base.pug

block content
  h3.text-dark.mb-4 Start a New Round
  .row
    .col-lg-6.col-xl-6
      .row
        .col
          .card.shadow.mb-3
            .card-header.py-3
              p.text-primary.m-0.font-weight-bold.text-center Round Information
            .card-body
              form.user(action="/matchInfo?roundID="+pagedetails.match.roundID+"&status="+pagedetails.match.status, method="post")
                input#current_user(type='hidden' value=pagedetails.curr_user.username)
                input#current_status(type='hidden' value=pagedetails.match.status)
                if(pagedetails.fields.all == 1)
                  .form-row
                    .col
                      .form-group
                        h3.text-dark.mb-0 Round ID: #{pagedetails.match.roundID}
                  .form-row
                    .col
                      .form-group
                        label(for='user_role')
                          strong Choose Your Role:
                        select#user_role.form-control(style='border: 1px solid #d66' name='user_role')
                          option(value='' disabled selected) #{pagedetails.match.creatorRole}
                          option(value='ad') Adjudicator
                          option(value='gov') Government Speaker
                          option(value='opp') Opposition Speaker
                        input#edit_role(type='hidden' value=pagedetails.match.creatorRole)
                        .text-center.small#invalid_role(style="color: #d66")
                  .form-row
                    .col
                      .form-group
                        label(for='motion')
                          strong Motion of the Round:
                        textarea#motion.form-control(style='border: 1px solid #d66' placeholder=`${pagedetails.match.motion}` name='motion')
                        input#edit_motion(type='hidden' value=pagedetails.match.motion)
                        .text-center.small#invalid_motion(style="color: #d66")
                  .form-row
                    .col
                      h4.text-dark.mb-0 TEAMS
                      h6.text-dark.mb-0 Enter names of existing teams
                      <br>
                      .form-group
                        label(for='gov')
                          strong Enter Government Team Name:
                        input.form-control#gov(style='border: 1px solid #d66' type='text' placeholder=`${pagedetails.match.gov.teamname}` name='gov')
                        input#edit_gov(type='hidden' value=pagedetails.match.gov.teamname)
                        .text-center.small#invalid_gov(style="color: #d66")
                  .form-row
                    .col
                      .form-group
                        label(for='opp')
                          strong Enter Opposition Team Name:
                        input.form-control#opp(style='border: 1px solid #d66' type='text' placeholder=`${pagedetails.match.opp.teamname}` name='opp')
                        input#edit_opp(type='hidden' value=pagedetails.match.opp.teamname)
                        .text-center.small#invalid_opp(style="color: #d66") All fields need to be filled up
                else
                  .form-row
                    .col
                      .form-group
                        h3.text-dark.mb-0 Round ID: #{pagedetails.match.roundID}
                  if(pagedetails.fields.role == 1)
                    .form-row
                      .col
                        .form-group
                          label(for='user_role')
                            strong Choose Your Role:
                          select#user_role.form-control(style='border: 1px solid #d66' name='user_role')
                            option(value='' disabled selected) #{pagedetails.match.creatorRole}
                            option(value='ad') Adjudicator
                            option(value='gov') Government Speaker
                            option(value='opp') Opposition Speaker
                          input#edit_role(type='hidden' value=pagedetails.match.creatorRole)
                          .text-center.small#invalid_role(style="color: #d66") Invalid User Role
                  else
                    .form-row
                      .col
                        .form-group
                          label(for='user_role')
                            strong Choose Your Role:
                          select#user_role.form-control(name='user_role')
                            option(value='' disabled selected) #{pagedetails.match.creatorRole}
                            option(value='ad') Adjudicator
                            option(value='gov') Government Speaker
                            option(value='opp') Opposition Speaker
                          input#edit_role(type='hidden' value=pagedetails.match.creatorRole)
                          .text-center.small#invalid_role(style="color: #d66")
                  if(pagedetails.fields.motion == 1)
                    .form-row
                      .col
                        .form-group
                          label(for='motion')
                            strong Motion of the Round:
                          textarea#motion.form-control(style='border: 1px solid #d66' placeholder=`${pagedetails.match.motion}` name='motion')
                          input#edit_motion(type='hidden' value=pagedetails.match.motion)
                          .text-center.small#invalid_motion(style="color: #d66") Invalid Motion
                  else
                    .form-row
                      .col
                        .form-group
                          label(for='motion')
                            strong Motion of the Round:
                          textarea#motion.form-control(placeholder=`${pagedetails.match.motion}` name='motion')
                          input#edit_motion(type='hidden' value=pagedetails.match.motion)
                          .text-center.small#invalid_motion(style="color: #d66")
                  .form-row
                    .col
                      h4.text-dark.mb-0 TEAMS
                      h6.text-dark.mb-0 Enter names of existing teams
                      <br>
                      if(pagedetails.fields.gov == 1)
                        .form-group
                          label(for='gov')
                            strong Enter Government Team Name:
                          input.form-control#gov(style='border: 1px solid #d66' type='text' placeholder=`${pagedetails.match.gov.teamname}` name='gov')
                          input#edit_gov(type='hidden' value=pagedetails.match.gov.teamname)
                          .text-center.small#invalid_gov(style="color: #d66")
                      else
                        .form-group
                          label(for='gov')
                            strong Enter Government Team Name:
                          input.form-control#gov(type='text' placeholder=`${pagedetails.match.gov.teamname}` name='gov')
                          input#edit_gov(type='hidden' value=pagedetails.match.gov.teamname)
                          .text-center.small#invalid_gov(style="color: #d66")
                  .form-row
                    .col
                      if(pagedetails.fields.opp == 1 || pagedetails.fields.gov == 1)
                        .form-group
                          label(for='opp')
                            strong Enter Opposition Team Name:
                          input.form-control#opp(style='border: 1px solid #d66' type='text' placeholder=`${pagedetails.match.opp.teamname}` name='opp')
                          input#edit_opp(type='hidden' value=pagedetails.match.opp.teamname)
                          .text-center.small#invalid_opp(style="color: #d66") Invalid Teams
                      else
                        .form-group
                          label(for='opp')
                            strong Enter Opposition Team Name:
                          input.form-control#opp(type='text' placeholder=`${pagedetails.match.opp.teamname}` name='opp')
                          input#edit_opp(type='hidden' value=pagedetails.match.opp.teamname)
                          .text-center.small#invalid_opp(style="color: #d66")
                .form-group.text-center
                  button.btn.btn-block.btn-primary#round_next(type='submit') Next
    .col-lg-6.col-xl-6
      .row
        .col
          .card.shadow.mb-3
            .card-header.py-3
              p.text-primary.m-0.font-weight-bold.text-center Guide for Round Information
            .card-body
              ul.list-group.list-group-flush
                li.list-group-item
                  h4.text-danger.mb-0.text-center Round ID
                  h6.mb-0.text-center The unique identifier of the round you are building.
                  br
                li.list-group-item
                  br
                  h4.text-dark.mb-0.text-center You may choose any of the following roles in a round:
                  br
                  h5.mb-0.text-warning Adjudicator
                  h6.mb-0 - The Adjudicators are the ones to judge the round. They can call on the next speaker, end the round, give all speakers their grades, and give any comments that they may have.
                  br
                  h5.mb-0.text-warning Government Speaker
                  h6.mb-0 - One of the speakers who agrees with the motion.
                  br
                  h5.mb-0.text-warning Opposition Speaker
                  h6.mb-0 - One of the speakers who does not agree with the motion.
                  br
                li.list-group-item
                  br
                  h4.text-success.mb-0.text-center Motion
                  h6.mb-0.text-center The Motion is the topic of this debate round.
                  br
                li.list-group-item
                  br
                  h4.text-primary.mb-0.text-center Teams
                  h6.mb-0.text-center.text-dark Take note! Only existing teams are allowed to participate in debates and users cannot be in both teams. Proceed to your teams dashboard if you want to enter a new team.
                  br
                  h5.mb-0.text-primary Government Team
                  h6.mb-0 - The team consisting of members who agree with the motion.
                  br
                  h5.mb-0.text-primary Opposition Team
                  h6.mb-0 - The team consisting of members who do not agree with the motion.
                  br

block scripts
  script(src='/assets/js/jquery.min.js')
  script(src='/assets/bootstrap/js/bootstrap.min.js')
  script(src='/assets/js/bs-init.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js')
  script(src='/assets/js/create_round.js')
